<launch>

	<node pkg="env_recognition" type="recognition_lidar" name="recognition_lidar" output="screen">
		<param name="threshold_variance" type="int" value="5"/> 
		<param name="threshold_in_out" type="int" value="80"/>
		<param name="threshold_density_in" type="int" value="5"/>
		<param name="threshold_density_out" type="int" value="7"/>
	</node>

</launch>